<div>
    <h3>preferences</h3>
    <table style="width:30%;margin-left:10%;">
        <tr>
            <td>Français</td>
            <td><input type="radio" ng-model="languageSettings" value="french"/></td>
        </tr>
        <tr>
            <td>English</td>
            <td><input type="radio" ng-model="languageSettings" value="english"/></td>
        </tr>
        <tr>
            <td>Espanol</td>
            <td><input type="radio" ng-model="languageSettings" value="spanish"/></td>
        </tr>
        <tr>
            <td>Italiano</td>
            <td><input type="radio" ng-model="languageSettings" value="italian"/></td>
        </tr>
    </table>
</div>