<div id="loginPage" ng-controller="loginController">

        <div id="login_authentification">
            <div id="application_name" ><b>Fire Up</b></div>
            <div id="authentification_params" >
                <form ng-submit="signin()">
                    <input type="text" ng-model="usernameSignin" placeholder="username">
                    <input type="password" ng-model="passwordSignin" placeholder="password">
                    <input type="submit" value="SIGN IN">
                </form>
            </div>
        </div>

         <div id="login_quick_identification">
            <table>
                <tr>
                    <th width="75%" id="einstein_quote"><img src="login/einstein_quote.png" ></th>
                    <th id="quick_account_creation" width="25%" >
                        Quick account creation:
                        <table>
                            <tr>
                                <th>username</th>
                                <th><input type="text" ng-model="usernameSignup" ></th>
                            </tr>
                            <tr>
                                <th>password</th>
                                <th><input type="password" ng-model="passwordSignup" ></th>
                            </tr>
                            <tr>
                                <th>password</th>
                                <th><input type="password" ng-model="passwordSignup2"></th>
                            </tr>
                            <tr>
                                <th>email</th>
                                <th><input type="email" ng-model="emailSignup"></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th><form ng-submit="signup()">
                                    <input type="submit" value="SIGN UP">
                                </form></th>
                            </tr>
                        </table>
                    </th>
                </tr>
            </table>
        </div>

</div>

