<div ng-app="profileApp" ng-controller="profileController">
    <h2 id="profileTitle">profile</h2>
    <div id="profilePage">
        <div id="informationProfile">
            <div id="sectionProfile">
        <form id="profileForm" ng-submit="validateProfile()">
            <div id="personalInformation">
                <label class="informationProfile"><b>Add your Personal information -----------------------------------------------------</b></label>
                </br></br>
                <span id="sexProfile">
                    <input type="radio" ng-model="sexProfile" value="female"/><label> female </label>
                    <input type="radio" ng-model="sexProfile" value="male"/><label> male </label>
                </span></br>
                <table id="tableProfile">
                    <tr>
                        <td width="25%"><label>Firstname </label></td>
                        <td><input class="style2 inputSize" type="text" ng-model="firstnameProfile" placeholder="firstname" /></td>
                    </tr>
                    <tr>
                        <td><label>Lastname </label></td>
                        <td><input class="style2 inputSize" type="text" ng-model="lastnameProfile" placeholder="lastname" /></td>
                    </tr>
                    <tr>
                    <td><label>Birthday </label></td>
                    <td><input class="style2 inputSize" type="date" ng-model="birthDate" popup="d MMM yyyy"
                                    options="dateOptions" opened="opened" custom-datepicker /></td>
                    </tr>
                    <tr>
                        <td><label>Occupation </label></td>
                        <td>
                            <select class="style2 selectSize">
                                <option value="student">student</option>
                                <option value="employee">employee</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Hobbies </label></td>
                        <td><input class="style2 inputSize" type="text" ng-model="hobbiesProfile" placeholder="hobbies" /></td>
                    </tr>
                    <tr>
                        <td><label>Country </label></td>
                        <td>
                            <select class="style2 selectSize">
                                <option ng-repeat="country in countries" value={{country.name}}>{{country.name}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            </br></br></br>
            <div id="searchInformation">
                <label class="informationProfile"><b>Add your Search information -------------------------------------------------------</b></label>
                </br></br>
                <textarea class="style2" rows="4" cols="50" placeholder="Give us keywords to help us find the most adapted content for you"></textarea></br>
            </div>
            </br>
            <input id="submitProfile" type="submit" value="submit" />
        </form>
            </div>
        </div>
    </div>
</div>

