#profileTitle{
    margin-left: 35%;
    padding-top: 2%;
}

#profilePage{
    padding:2% 0% 5% 40%;
}

#sexProfile{
    margin-left: 34%;
}

#birthdayProfile{
    width: 39.7%;
}

#occupationProfile{
    width: 37.6%;
}

#countryProfile{
    width: 40.6%;
}

#hobbiesProfile{
    width: 39.8%;
}

#submitProfile{
    width: 10%;
    margin-left:20%;
}