<div ng-app="profileApp" ng-controller="profileController">
    <h2>profile</h2>
    <div id="profilePage">
        <form id="profileForm">
            <input type="text" ng-model="firstnameProfile" placeholder="firstname" />
            <input type="text" ng-model="lastnameProfile" placeholder="lastname" />
            <input type="radio" ng-model="sexProfile" /> Female
            <input type="radio" ng-model="sexProfile" /> Male
            <input type="date" ng-model="birthDate" popup="d MMM yyyy" options="dateOptions"
                   opened="opened" custom-datepicker />

        </form>
    </div>
</div>

