#navigation{
    position:fixed;
    width:100%;
    height: 2.5em;
    top:0;
    left:0;
    padding-left: 1em;
    padding-top: 1em;
    background: rgb(255,168,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
    z-index:1;
}

#homeContent{
    margin-top: 3.5em;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

#searchBarInput{
    border-radius: 5px;
    width: 40%;
    height:1.5em;
    margin-left: 20%;
    /*display: inline-block;*/
}

#submitSearch{
    margin-left: 1%;
    display: inline-block;
}

#submitSearchInput{
    border-radius: 5px;
    background: #FFFDFA;
}

#settings{
    margin-left: 10%;
}
