<div ng-controller="homeController">
    <!--<h6>Display results</h6>-->
    <!--<div ng-repeat="res in listResultsVideo">

        <iframe width="200" height="113" ng-src="{{res.shortLinkVideo | trustAsResourceUrl}}" frameborder="0" ></iframe>
        <label class="titleInfoHome">{{res.titleVideo}}</label>
        <a class="linkInfoHome" href="{{res.linkVideo}}">{{res.linkVideo}}</a>
        <span class="descriptionInfoHome" >{{res.descriptionVideo}}</span>
    </div>-->
    <table class="tableResultsVideo">
        <tr ng-repeat="res in listResultsVideo">
            <td>
                <iframe width="200" height="113" src="{{res.shortLinkVideo | trustAsResourceUrl}}" frameborder="0"></iframe>
            </td>
            <td class="resultsInfoHome" style="padding-top: 50px">
                <table  class="tableResultsVideo1">
                    <tr><td><label class="titleInfoHome"><b>{{res.titleVideo}}</b></label></td></tr>
                    <tr><td></td></tr>
                    <tr><td><a class="linkInfoHome" href="{{res.linkVideo}}">{{res.linkVideo}}</a></td></tr>
                    <tr><td><span class="descriptionInfoHome" >{{res.descriptionVideo}}</span></td></tr>
                </table>
            </td>
        </tr>
    </table>
</div>