<div id="homePage" ng-app="homeApp">
    <div id="menuHome">
        <ul>
            <li><a ui-sref=".displayResultsWebsites" ui-sref-active="active">websites</a></li>
            <li><a ui-sref=".display" ui-sref-active="active">videos</a></li>
            <li><a ui-sref=".displayResultsSocialNetworks" ui-sref-active="active">social networks</a></li>
        </ul>
    </div>
    <div id="filterHome">
        <span id="filterParams">
            <input type="radio" ng-model="filterParamHome" value="month"/><label>last month</label>
            <input type="radio" ng-model="filterParamHome" value="new"/><label>new results</label>
        </span>
    </div>
    <div id="resultsHome" ui-view>
    </div>
</div>