<div ng-app="contentApp" ng-controller="contentController">
    <h2 id="contentTitle">content</h2></br>
    <div id="contentPage">
        <div class="Information">
            <div class="Section">
                <form name="formVideo" class="contentForm" ng-submit="validateVideo()" ng-keyup="checkFormVideo()">
                    <label class="informationContent"><b>Add a video -----------------------------------------------------</b></label>
                    </br></br>
                    <table class="tableContent">
                        <tr><td><input name="titleVideo" ng-class="classTitleVideo" ng-keyup="checkLengthTitleVideo()" ng-maxlength="{{maxLengthTitle}}" type="text" ng-model="titleVideo" placeholder="title" />
                        <span ng-show="formVideo.titleVideo.$error.maxlength">max length {{maxLengthTitle}}</span></td></tr>
                        <tr><td><input name="descriptionVideo" ng-class="classDescriptionVideo" ng-keyup="checkLengthDescriptionVideo()" ng-maxlength="{{maxLengthDescription}}" type="text" ng-model="descriptionVideo" placeholder="a quick description helps to promote" />
                        <span ng-show="formVideo.descriptionVideo.$error.maxlength">max length {{maxLengthDescription}}</span></td></tr>
                        <tr><td><input name="linkVideo" ng-class="classLinkVideo" ng-keyup="checkLengthLinkVideo()" ng-maxlength="{{maxLengthLink}}" type="text" ng-model="linkVideo" placeholder="link of video" />
                        <span ng-show="formVideo.linkVideo.$error.maxlength">max length {{maxLengthLink}}</span></td></tr>
                        <tr><td><input name="listTagsVideo" ng-class="classListTagsVideo" ng-keyup="checkLengthListTagsVideo()" ng-maxlength="{{maxLengthListTags}}" type="text" ng-model="listTagsVideo" placeholder="list of tags separate by a space" />
                        <span ng-show="formVideo.listTagsVideo.$error.maxlength">max length {{maxLengthListTags}}</span></td></tr>
                    </table>
                    </br></br>
                    <input ng-disabled="!isFormValidVideo" ng-class="classSubmitVideo" type="submit" value="submit" />
                </form>
            </div>
        </div>
        </br></br></br>
        <div class="Information">
            <div class="Section">
            <form name="formWebsite" class="contentForm" ng-submit="validateWebsite()" ng-keyup="checkFormWebsite()">
                <label class="informationContent"><b>Add a website ---------------------------------------------------</b></label>
                </br></br>
                <table class="tableContent">
                    <tr><td><input name="titleWebsite" ng-class="classTitleWebsite" ng-keyup="checkLengthTitleWebsite()" ng-maxlength="{{maxLengthTitle}}" type="text" ng-model="titleWebsite" placeholder="title" />
                    <span ng-show="formWebsite.titleWebsite.$error.maxlength">max length {{maxLengthTitle}}</span></td></tr>
                    <tr><td><input name="descriptionWebsite" ng-class="classDescriptionWebsite" ng-keyup="checkLengthDescriptionWebsite()" ng-maxlength="{{maxLengthDescription}}" type="text" ng-model="descriptionWebsite" placeholder="a quick description helps to promote" />
                    <span ng-show="formWebsite.descriptionWebsite.$error.maxlength">max length {{maxLengthDescription}}</span></td></tr>
                    <tr><td><input name="linkWebsite" ng-class="classLinkWebsite" ng-keyup="checkLengthLinkWebsite()" ng-maxlength="{{maxLengthLink}}" type="text" ng-model="linkWebsite" placeholder="link of website" />
                    <span ng-show="formWebsite.linkWebsite.$error.maxlength">max length {{maxLengthLink}}</span></td></tr>
                    <tr><td><input name="listTagsWebsite" ng-class="classListTagsWebsite" ng-keyup="checkLengthListTagsWebsite()" ng-maxlength="{{maxLengthListTags}}" type="text" ng-model="listTagsWebsite" placeholder="list of tags separate by a space" />
                    <span ng-show="formWebsite.listTagsWebsite.$error.maxlength">max length {{maxLengthListTags}}</span></td></tr>
                </table>
                </br></br>
                <input ng-disabled="!isFormValidWebsite" ng-class="classSubmitWebsite" type="submit" value="submit" />
            </form>
        </div></div>
        </br></br></br>
        <div class="Information">
            <div class="Section">
            <form name="formSocialNetwork" class="contentForm" ng-submit="validateSocialNetwork()" ng-keyup="checkFormSocialNetwork()">
                <label class="informationContent"><b>Add a social network page ----------------------------------</b></label>
                </br></br>
                <table class="tableContent">
                    <tr><td><input name="titleSocialNetwork" ng-class="classTitleSocialNetwork" ng-keyup="checkLengthTitleSocialNetwork()" ng-maxlength="{{maxLengthTitle}}" type="text" ng-model="titleSocialNetwork" placeholder="title" />
                    <span ng-show="formSocialNetwork.titleSocialNetwork.$error.maxlength">max length {{maxLengthTitle}}</span></td></tr>
                    <tr><td><input name="descriptionSocialNetwork" ng-class="classDescriptionSocialNetwork" ng-keyup="checkLengthDescriptionSocialNetwork()" ng-maxlength="{{maxLengthDescription}}" type="text" ng-model="descriptionSocialNetwork" placeholder="a quick description helps to promote" />
                    <span ng-show="formSocialNetwork.descriptionSocialNetwork.$error.maxlength">max length {{maxLengthDescription}}</span></td></tr>
                    <tr><td><input name="linkSocialNetwork" ng-class="classLinkSocialNetwork" ng-keyup="checkLengthLinkSocialNetwork()" ng-maxlength="{{maxLengthLink}}" type="text" ng-model="linkSocialNetwork" placeholder="link of social network page" />
                    <span ng-show="formSocialNetwork.linkSocialNetwork.$error.maxlength">max length {{maxLengthLink}}</span></td></tr>
                    <tr><td><input name="listTagsSocialNetwork" ng-class="classListTagsSocialNetwork" ng-keyup="checkLengthListTagsSocialNetwork()" ng-maxlength="{{maxLengthListTags}}" type="text" ng-model="listTagsSocialNetwork" placeholder="list of tags separate by a space" />
                    <span ng-show="formSocialNetwork.listTagsSocialNetwork.$error.maxlength">max length {{maxLengthListTags}}</span></td></tr>
                </table>
                </br></br>
                <input ng-disabled="!isFormValidSocialNetwork" ng-class="classSubmitSocialNetwork" type="submit" value="submit" />
            </form>
        </div></div>
    </div>
</div>